@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Chelsea Market', cursive;
}

header{ min-height:50px }
footer{ min-height:50px }

body{ display:flex; flex-direction:column; }
main{ flex:1; }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
